{% extends "_base.htm" %}
{% block container %}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit supplier's data please</h4>
    </div>
    <form action="SupplierDataFiller" method="post" class="panel-body" data-validate="parsley">
    <div class="modal-body">
      <div class="form-group"><label class="control-label">Supplier</label><input type="text" name="supplier" class="form-control input-sm" value="{{ sup_data.name }}"></div>
      <div class="line line-dashed"></div>
	      <h4>Address:</h4>
      <div class="form-group"><label class="control-label">Line 1</label><input type="text" name="line1" class="form-control input-sm" value="{{ sup_data.address.line1 }}"></div>
      <div class="form-group"><label class="control-label">City</label><input type="text" name="city" class="form-control input-sm" value="{{ sup_data.address.city }}"></div>
      <div class="form-group"><label class="control-label">Province</label><input type="text" name="province" class="form-control input-sm" value="{{ sup_data.address.province }}"></div>
      <div class="form-group"><label class="control-label">ZIP</label><input type="text" name="zip" class="form-control input-sm" value="{{ sup_data.address.zip }}"></div>
      <div class="line line-dashed"></div>
      <h5>Contact person:</h5>
      <div class="form-group"><label class="control-label">First Name</label><input type="text" name="firstname" class="form-control input-sm" value="{{ sup_data.contact.first_name }}"></div>
      <div class="form-group"><label class="control-label">Last Name</label><input type="text" name="lastname" class="form-control input-sm" value="{{ sup_data.contact.last_name }}"></div>
      <div class="form-group"><label class="control-label">Email</label><input type="email" name="email" class="form-control input-sm" value="{{ sup_data.contact.email }}"></div>
      <div class="form-group"><label class="control-label">Phone number</label><input type="text" class="form-control input-sm parsley-validated" data-type="phone" placeholder="(XXX) XXXX XXX" data-required="true" name="phone" value="{{ sup_data.contact.phone }}"></div>
      <div class="form-group"><label class="control-label">Fax</label><input type="text" name="fax" class="form-control input-sm" value="{{ sup_data.contact.fax }}"></div>
      <div class="line line-dashed"></div>
      <h5>Preference</h5>
      <div class="radio">
	<input type="radio" name=preference value="email" checked>Email
      </div>
      <div class="radio">
	<input type="radio" name=preference value="sms">SMS
      </div>
      <div class="radio">
	<input type="radio" name=preference value="fax">Fax
      </div>
      <div><input type="hidden" name="s_id" value="{{ sup_data.id }}"></div>
    </div>
    <div class="modal-footer"><button type="submit" class="btn btn-success">Submit</button></div>
    </form>
  </div>
  </div>
</div>
{% endblock %}
