<div class="post content">

                        
                        

						
							<div class="photo">
								<a href="http://amercader.github.com/wikigeolinks-leaflet" class="thumbnail">
									<img src="http://24.media.tumblr.com/tumblr_m15fe1nriy1r2kupeo1_500.png" alt="WikiGeoLinks
Explore how the georeferenced articles of the Wikipedia are connected.">
								</a>

                                <div class="well post-desc">
                                    <p class="spacey">
                                        </p><div style="float:right">
                                            <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1340179658.html#_=1344406896377&amp;count=none&amp;id=twitter-widget-6&amp;lang=en&amp;original_referer=http%3A%2F%2Fbuiltwithbootstrap.com%2Fpage%2F4&amp;related=TwBootstrap%2CFlipstorm%2Csimonhamp&amp;size=m&amp;text=Another%20site%20Built%20with%20Bootstrap&amp;url=http%3A%2F%2Fbuiltwithbootstrap.com%2Fpost%2F28557785892%2Fwikigeolinks-explore-how-the-georeferenced&amp;via=BWBootstrap" class="twitter-share-button twitter-count-none" style="width: 56px; height: 20px; " title="Twitter Tweet Button"></iframe>
                                            <iframe src="//www.facebook.com/plugins/like.php?href=http://builtwithbootstrap.com/post/28557785892/wikigeolinks-explore-how-the-georeferenced&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=56742523553" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:21px; top: 1px" allowtransparency="true"></iframe></div>
                                        
                                            <i class="icon-time"></i>
                                            <a href="http://builtwithbootstrap.com/post/28557785892/wikigeolinks-explore-how-the-georeferenced">Thursday, August 2nd</a>
                                        
                                        
                                        <i class="icon-comment"></i>
                                        <a class="dsq-comment-count" href="http://builtwithbootstrap.com/post/28557785892/wikigeolinks-explore-how-the-georeferenced#disqus_thread">Comments</a>
                                        
                                        <i class="icon-heart"></i>
                                        <a href="http://builtwithbootstrap.com/post/28557785892/wikigeolinks-explore-how-the-georeferenced">0 Notes</a>
                                    <p></p>

								    
									   <div class="caption"><p><strong>WikiGeoLinks</strong></p>
<p><span>Explore how the georeferenced articles of the Wikipedia are connected.</span></p></div>
								    
                                
                                    
                                        
                                            <a class="label label-warning" href="http://builtwithbootstrap.com/tagged/bootstrap-2.0">bootstrap 2.0</a>
                                        
                                            <a class="label label-warning" href="http://builtwithbootstrap.com/tagged/site">site</a>
                                        
                                            <a class="label label-warning" href="http://builtwithbootstrap.com/tagged/side-project">side project</a>
                                        
                                            <a class="label label-warning" href="http://builtwithbootstrap.com/tagged/tabs">tabs</a>
                                        
                                            <a class="label label-warning" href="http://builtwithbootstrap.com/tagged/alerts">alerts</a>
                                        
                                            <a class="label label-warning" href="http://builtwithbootstrap.com/tagged/modals">modals</a>
                                        
                                            <a class="label label-warning" href="http://builtwithbootstrap.com/tagged/submission">submission</a>
                                        

                                        <div class="clear"></div>
                                    
    				
                                </div>
                            </div>

                            <hr>
						


						

						

						

						

						

						

                        
                    </div>


      {% if companies %}
      <p><span class="label label-header">This is the agencies allocated in {{ category }}</span>
      </p>
      {% for i in companies %}
      <ul class="unstyled">
	<dt>
{% if i.4 != "Not specified" %}
<a href="#" rel="popover" title="{{ i.0 }} general description" data-content="{{ i.4 }}"><span class="badge badge-success"><i class="icon-info-sign"></i>{{ i.0 }}</span></a>
{% else %}
<span class="badge badge-success">{{ i.0 }}</span>
{% endif %}
{% if i.9 %}
<a href="#" rel="popover" title="{{ i.0 }} short description" data-content="{{ i.9 }}"><span class="badge badge-inverse"><i class="icon-info-sign icon-white"></i></span></a>
{% endif %}
	  <a href="#" rel="popover" title="{{ i.0 }}" data-content='{{ i.16 }}'><span class="badge"><i class="icon-map-marker"></i>kort</span></a>
<!--telephone numers -->
{% if i.6.0 %}
<a href="#" rel="tooltip" title="
{% for j in i.6%}
{{ j }}
{% endfor %}
"><span class="badge badge-warning"><i class="icon-question-sign"></i>Tlf.</span></a>
{% endif %}
<!-- link to agency site: -->
{% if i.3 != "http://example.com" %}<a href="{{ i.3 }}"><span class="badge badge-info"><i class="icon-home"></i>Site</span></a>
{% endif %}</dt>
	<!--<dd></dd>-->
      </dl>
      {% endfor %}
      {% else %}<h4>There are not agencies matching your search criteria in our database</h4>
      {% endif %}
    </div>
