{% extends "_base.htm" %}
{% block topnav %}
<p></p>
{% if msg1 %}
<p>{{ msg1 }}</p>
{% endif %}
{% if msg2 %}
<p>{{ msg2 }}</p>
{% endif %}
{% endblock %}
{% block wrapper %}
<p>This is CSV upload template</p>
<div style="text-align: right;"><a href="/uploadadmin/purge"><span style="font-weight: bold; color: rgb(153, 0, 0);">Purge datastore</span></a></div>
 <form action="/uploadadmin/uploadcsv" enctype="multipart/form-data" method="post">
   <div><label>Upload the new comma separated file:</label></div>
   <div><input type="file" name="csv"/></div>
   <div><input type="submit" value="Upload File"></div>
 </form>
{% endblock %}
{% block content %}
<p></p>
{% endblock %}
{% block bottomWrapper %}
<p></p>
{% endblock %}
