{% extends "_base.htm" %}

{% block extra_js %}
	<script type="text/javascript" src="/static/js/autocomplete.js"></script>
{% endblock %}

{% block topnav %}
<p></p>
{% endblock %}
{% block wrapper %}
<p></p>
{% endblock %}
{% block content %}
<div style="text-align: center;">
<form>
Measure developer:
<select name="developer">
<option value="Quality Insights of Pennsylvania">Quality Insights of Pennsylvania</option>
<option value="National Committee for Quality Assurance" selected="selected">National Committee for Quality Assurance</option>
</select></br>
Concept: <input type="text" name="concept" value="{{ concept }}" /></br>
Category: <input type="text" name="category" value="{{ category }}" /></br>
Taxonomy: <input type="text" name="taxonomy" value="{{ taxonomy }}" /></br>
<input type="submit" value="Submit" />
</form>
{% if warnings %}
<span style="color: rgb(204, 0, 0); font-weight: bold;">{{warnings}}</span>
{% else %}
<span style="color: rgb(0, 153, 0); font-weight: bold;">System found {{ num_entities }} entities.</span>
{% if num_entities %}
<table style="text-align: left; width: 100%;" cellpadding="0" border="1"
cellspacing="1">
<tbody>
<tr>
<th style="vertical-align: top; width: 20%; text-align: center;">OID
</th>
<th style="vertical-align: top; width: 50%; text-align: center;">Descriptor
</th>
<th style="vertical-align: top; width: 10%;">Concept
</th>
<th style="vertical-align: top;">Category
</th>
<th style="vertical-align: top;">Code
</th>
<th style="vertical-align: top; width: 10%;">Tax
</th>
<th style="vertical-align: top;">Tax v.
</th>
</tr>
{% for item in placebo %}
{% for row in item  %}
<tr>
<td style="vertical-align: top;">{{ row.OID }}
</td>
<td style="vertical-align: top;">{{ row.descriptor }}
</td>
<td style="vertical-align: top;">{{ row.concept }}
</td>
<td style="vertical-align: top;">{{ row.category }}
</td>
<td style="vertical-align: top;">{{ row.code }}
</td>
<td style="vertical-align: top;">{{ row.taxonomy }}
</td>
<td style="vertical-align: top;">{{ row.taxonomy_version }}
</td>
</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
{% endif %}
{% endblock %}
{% block bottomWrapper %}
<p></p>
{% endblock %}
