{% extends "_base.htm" %}
{% block container %}
      <!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <h1>OvivoStaff</h1>
        <p class="lead">Based on twitter-bootstrap framework interactive web-application<br/>which allows interaction between employers, contractors and virarbureaus.</p>
        <div class="subnav">
          <ul class="nav nav-pills">
            <li><a href="#general">General purpose</a></li>
            <li><a href="#abilities">Employers abilities</a></li>
            <li><a href="#abilities">Contractors abilities</a></li>
            <li><a href="#abilities">Vikarbureaus role</a></li>
            <li><a href="#schemme">Functional schemme</a></li>
	    <li><a href="#view">True view convention</a></li>
            <li><a href="#colour">Colour convention</a></li>
          </ul>
        </div>
      </header>




<!-- General description
================================================== -->
<section id="general">
  <div class="page-header">
    <h1>General purpose <small>is as short as it's possible - be extremely helpful for:</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h2>Employers</h2>
      <p>Without doubt to hire and collaborate with a qualified contractor in many cases could increase your business on the new level. If you don't pay any attention on struggle for workers - just do it :-)</p>
    </div><!-- /.span -->
    <div class="span4">
      <h2>Contractors</h2>
      <p>Are you have qualification and experience but haven't a job? Let's try to find one on our site. It's easy and free of any payments. Otherwise you'd <strong>begun it</strong>.</p>
    </div><!-- /.span -->
    <div class="span4">
      <h2>Vikarbureaus</h2>
      <p>It's great to help people to resolve their needs. Try to do it in a modern manner?! We strives to reduce your efforts and enhance the effect in a same time.</p>
    </div><!-- /.span -->
  </div><!-- /.row -->
</section>




<!-- General abilities description
================================================== -->
<section id="abilities">
  <div class="page-header">
    <h1>General abilities <small>just try to be a partner</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h2>Employers</h2>
      <ul>
	<li>Vikarbureau search by:</li>
	<ul>
	  <li>location;</li>
	  <li>tag;</li>
	  <li>selfdescription;</li>
	  <li>matching contractor.</li>
	</ul>
	<li>Contractor search by:</li>
	<ul>
	  <li>location;</li>
	  <li>tag;</li>
	  <li>qualification;</li>
	  <li>experience;</li>
	  <li>feedback;</li>
	  <li>selfdescription;</li>
	  <li>vikarbureau.</li>
	</ul>
      </ul>
    </div><!-- /.span -->
    <div class="span4">
      <h2>Contractors<br><small>as I'd understood Danish law not accepted vacancy publication for employers?</small></h2>
      <ul>
	<li>Propogate information about themselves:</li>
	<ul>
	  <li>vikarbureau(s);</li>
	  <li>qualification;</li>
	  <li>experience;</li>
	  <li>portrait;</li>
	  <li>category;</li>
	  <li>skills;</li>
	  <li>sertificates;</li>
	  <li>employment history;</li>
	  <li>education;</li>
	  <li>portfolio.</li>
	</ul>
	<li>Vikarbureau search by:</li>
	<ul>
	  <li>location;</li>
	  <li>tag;</li>
	  <li>selfdescription.</li>
	</ul>
	<li>Recieve job proposals;</li>
	<li>Accept job proposals;</li>
	<li>Decline job proposals;</li>
	<li>Give feedback to:</li>
	<ul>
	  <li>vikarbureaus;</li>
	  <li>employers;</li>
	  <li>other contractors;</li>
	</ul>
      </ul>
      
    </div><!-- /.span -->
    <div class="span4">
      <h2>Vikarbureaus</h2>
      <p>It's great to help people to resolve their needs. Try to do it in a modern manner?! We strives to reduce your efforts and enhance the effect in a same time.</p>
    </div><!-- /.span -->
  </div><!-- /.row -->
</section>



<!-- Functional schemme
================================================== -->
<section id="schemme">
  <div class="page-header">
    <h1>Functional schemme <small>let's review it at whole:</small></h1>
    <p>
      <img src="/static/img/InitFunctionalSchemme01.png">
    </p>
  </div>
</section>



<!-- App's true view description
================================================== -->
<section id="view">
  <div class="page-header">
    <h1>How the app must display information <small>only a general judgement</small></h1>
  </div>
  <div align="center">
      <h2>Navigation Bar</h2>
  </div>
  <div>
      <h3>appears at the top of every page and display <i>actual information</i>:</h3>
  </div>
  <div>
      <ul>
	<li>context help;</li>
	<li>notification section:</li>
	<ul>
	  <li>messages;</li>
	  <li>job proposals;</li>
	  <li>news;</li>
	</ul>
	<li>search form;</li>
	<li>user's name or</li>
	<li>invitation to login</li>
      </ul>
      </p>
  </div>
  <div>
    <div class="row">
      <div class="span4">
	<h2>Satellite section</h2>
	<p>Could display a secondary information with the same options as a primary section</p>
	<div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  Optional information in satellite section
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
		  Optional chunks would be hidden and appears <b>only</b> by user's act (click or focusing a mouse pointer)
                </div>
              </div>
            </div>
       </div>
      <div class="span8">
	<h2>Primary section</h2>
	<p>Obvious thing, but it's necessary to describe what relevant and primary information must be displaying
	  at the primary place.
	</p>
	<div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Optional information in primary section
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
		  Optional chunks would be hidden and appears <b>only</b> by user's act (click or focusing a mouse pointer)
                </div>
              </div>
            </div>
       </div>
      </div>
    </div>
  </div>
</section>



<!-- Colour
==================================================
-- Blue
-- Green
-- Magenta
-- Orange
-- Red
-- Violet
-- Yellow

 -->
<section id="colour">
  <div class="page-header">
    <h1>App's colour differentiation <small>colour vision is sufficiently for one look appreciation</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h2>Background colour</h2>
      <p>Bear in mind what we will create app which must to be the Minimum Viable Product on my point of view it is
	not necessary change default twitter-bootstrap background colour. Otherwise we might change it later.
      </p>
    </div>
    <div class="span8">
      <h2>Icons colours</h2>
      <p>There are six well identified colours which could help user to understand what happen in no time or just
	one look. Here they are:</p>
      <ul>
	<li>blue <span class="icon-question-sign icon-blue"></span></li>
	<li>green <span class="icon-question-sign icon-green"></span></li>
	<li>violet <span class="icon-question-sign icon-violet"></span></li>
	<li>orange <span class="icon-question-sign icon-orange"></span></li>
	<li>red <span class="icon-question-sign icon-red"></span></li>
	<li>yellow <span class="icon-question-sign icon-yellow"></span></li>
      </ul>
      <p></p>
    </div>
  </div>

{% endblock %}
