{% extends "_base.htm" %}
{% block container %}

<header class="jumbotron subhead" id="overview">
  <h1>Staff.rs</h1>
</header>

<div class="row">
  <div class="well post-desc">
    <p>
    <a class="accordion-toggle" data-toggle="collapse" href="#cities_collapse"><span class="icon-home icon-green"></span> Cities cloud:
    </a>
    <a class="accordion-toggle" data-toggle="collapse" href="#tags_collapse"><span class="icon-tags icon-green"></span> Tags cloud:
    </a>
    </p>
    <div id="cities_collapse" class="accordion-body collapse">
      <div class="accordion-inner">
	<p>{{ search_navbar|safe }}</p>
      </div>
    </div>
    <div id="tags_collapse" class="accordion-body collapse">
      <div class="accordion-inner">
	<p>
	  {% for j in tags %}
	  <a href="/tag/{{ j }}"<span class="label"><i class="icon-tag"></i>{{ j }}</span></a>
	  {% endfor %}
	</p>
      </div>
    </div>
  </div>
</div>

<!-- Main section -->
<p></p>
<div class="container-fluid">
<div class="row-fluid">
  <div class="span9">
  {% if companies %}
  {% for i in companies %}
  <!-- let's create the cells:-->
	    <div class="span3">
		<div class="well post-desc">
		  {% if i.3 != "http://example.com" %}
		    <p><strong><a href="{{ i.3 }}" target="_blank">{{ i.0 }}</a></strong></p>
		  {% else %}<p><strong>{{ i.0 }}</strong></p>
		  {% endif %}
		    <p>{{ i.1 }}</p>
		    <hr>
		  {% if i.6.0 != "" %}
		    {% for j in i.6 %}
		      <p>{{ j }}</p> <!-- phone number -->
		    {% endfor %}
		    <hr>
		  {% endif %}
		  {% if i.4 != "Not specified" %}
		  <a class="accordion-toggle" data-toggle="collapse" href="#b_collapse{{ loop.index }}">
		      <span class="icon-info-sign icon-yellow"></span> Description
		  </a>
		  <div id="b_collapse{{ loop.index }}" class="accordion-body collapse">
		    <div class="accordion-inner">
		      <p>{{ i.4 }}</p>
		    </div>
		  </div>
		  {% if i.9 %}
		  <a class="accordion-toggle" data-toggle="collapse" href="#c_collapse{{ loop.index }}">
		      <span class="icon-info-sign icon-red-light"></span> Description
		  </a>
		  <div id="c_collapse{{ loop.index }}" class="accordion-body collapse">
		    <div class="accordion-inner">
		      <p>{{ i.9 }}</p>
		    </div>
		  </div>
		  {% endif %}
		  <hr>
		  {% endif %}
		  <!--div class="caption">  
		    <p><span>Explore how the georeferenced articles of the Wikipedia are connected.</span></p>
		  </div-->
		  {% if i.8.0 != "Not specified else" %}
		  <a class="accordion-toggle" data-toggle="collapse" href="#a_collapse{{ loop.index }}">
		    <span class="icon-tags icon-green-light"></span> Tags
		  </a>

		  <div id="a_collapse{{ loop.index }}" class="accordion-body collapse">
		    <div class="accordion-inner">
		    {% for j in i.8 %}
		    <a class="label label-warning" href="/tag/{{ j }}">{{ j }}</a>
		    {% endfor %}
		    </div>
		  </div>

		  {% endif%}



							<div class="clear"></div>


		  </div>


	    <hr>
	    </div>
  {% endfor %}
  {% else %}<h4>There are not agencies matching your search criteria in our database</h4>
  {% endif %}
  </div>

<!--
companies[0], addresses, postal_codes, urls, descriptions, description_words[5], phone, phone_type, tags, g_description,g_description_words[10], description_headers, description_paragraph, description_p_fractions, category, city_fractions[15], google_map_iframe
-->

<!-- End of main section -->

<!-- Satellite section -->

  <div class="span3">
  </div>




<!-- End of satellite section  -->
</div>
</div>
{% endblock %}
