{% extends "_base.htm" %}
{% block container %}

<div class="row">
  <div class="span2" align="center">
  <img src="/static/img/partners.jpg">
  </div>
  <div class="span8">
    <div class="form">
          <form class="form-search" action="">
            <input id="gen_query" type="text" class="search-query" placeholder="Search">
          </form>
	</div>
  </div>
  <div class="span2">...</div>
</div>
{% endblock %}
<!--
<div class="row">
  <div class="span3" align="center">
    <img src="static/img/partners.jpg">
  </div>
  <div class="span5" align="center">
    <h2>Temporary workers</h2>
    <h3>Easy to find a job</h3>
    <h3>Easy to find a contractor</h3>
    <h3>Easy to find a customer</h3>
    <p>Using our service you're able to resolve questions in a job search and in looking for a right contractor.</p>
    <p>Just fill online form allows employer find you and review yours aptitude. When you'll in our database you becomes to hiring any contractor wich looking for a temporary workers. Be online and patient!</p>
  </div>
  <div class="span4">
    <div id="myCarousel" class="carousel">
    <!-- Carousel items
    <div class="carousel-inner">
      <div class="active item"><img src="static/img/01.jpg"></div>
      <div class="item"><img src="static/img/02.jpg"></div>
      <div class="item"><img src="static/img/03.jpg"></div>
      <div class="item"><img src="static/img/04.jpg"></div>
    </div>
   </div>
  </div>
</div>
 -->
<!--
{% block bodycontent %}
    <h2>App Engine: About</h2>
    <p>
    Welcome to the site dedicated to
    learning Google App Engine.
    We hope you find www.appenginelearn.com useful.
    </p>
{% endblock %}
-->
